@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.customCard {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
}

.card__name {
    margin-top: 15px;
    font-size: 1.5em;
}

.card__image {
    height: 100%;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.2em;
}

.iconNavBar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #272133;
    margin-right: 20px;
    box-shadow: 0px 3px 10px 0px rgb(0 0 0);
}
